body {
    background-color: #121212 !important;
}

.current-city-icon-div {
    padding-top: 1em;
}

.current-city{
    padding-right: .5em;
}

.forecast-h4-div{
    padding-top: 1em;
}

.future-date-icon-div{
    padding-top: 1em;
}

.future-date {
    padding-right: .5em;
}

.hide-me {
    display: none !important;
}

.show-me {
    display: block !important;
}

footer {
    position: fixed !important;
    bottom: 0 !important;
    width: 100%;
    color: white;
    padding-bottom: 20px;
  }

  /* @media screen and (min-width: 576px) {
    .future-date-container {
        float: left;
        width: 25%;
    }
  } */